<html>
  <head>
    <title>Terraform in Yandex.Cloud</title>
  </head>
  <body>
    <h1>Форма запуска {{template_name}}</h1>
    <h2>Заполните параметры</h2>
    <form action="" method="post" name="run_template">
        {{form.hidden_tag()}}
        {% for field in form.fields %}

        {{form.render_field(field)}} - <b>{{field}}.</b> {{form.render_description(field)}} <br>

            {% for error in form.render_errors(field) %}
                <span style="color: red;">[{{error}}]</span>
            {% endfor %}<br>
            <br>

        {% endfor %}
        {{form.submit}}
    </form>
    <input type="submit" value="Back"
    onclick="window.location='/templates';" />
  </body>
</html>


